name: Rust CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]
  tags:
    - 'v*.*.*' # Triggers on semantic version tags like v1.0.0, v2.1.3, etc.


env:
  CARGO_TERM_COLOR: always

jobs:
  buildandtest:
    name: cargo
    runs-on: ubuntu-latest
    container:
      image: rust:1.86.0 # Works with both GitHub and act locally

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup caching
        uses: actions/cache@v4
        if: ${{ env.ACT != 'true' }} # Use cache only on GitHub, skip in act
        with:
          path: |
            ~/.cargo/registry
            ~/.cargo/git
            target
          key: ${{ runner.os }}-cargo-${{ hashFiles('**/Cargo.lock') }}
          restore-keys: |
            ${{ runner.os }}-cargo-

      - name: Manual cache setup for local run
        if: ${{ env.ACT == 'true' }} # Run only when act is used
        run: |
          echo "Running locally with act, manually setting up cache..."
          mkdir -p ~/.cargo/registry ~/.cargo/git target

      #      - name: Install Rust Toolchain
      #        uses: dtolnay/rust-toolchain@stable
      #        id: rust-toolchain
      #        with:
      #          toolchain: stable
      #          components: rustfmt, clippy # Add other components if needed
      #          cache: true
      #          cache-key: ${{ runner.os }}-rust-${{ steps.rust-toolchain.outputs.rustc_version }}-${{ hashFiles('Cargo.lock') }}

      - name: Build
        run: cargo build

      - name: Run Tests
        run: cargo test
      - name: Run Integration Tests
        run: cargo test --features integration_tests
        continue-on-error: true

  deploy:
    if: startsWith(github.ref, 'refs/tags/v')
    runs-on: ubuntu-latest
    container:
      image: rust:1.86.0 # Works with both GitHub and act locally
    steps:
      - uses: shuttle-hq/deploy-action@v2
        with:
          shuttle-api-key: ${{ secrets.SHUTTLE_API_KEY }}
          project-id: proj_01JTKGBPHP73GMNSNEJYQNVD4J
          cargo-shuttle-version: "0.54.0"
